body{
    background-color: black;
    color: white;
}

/* Navbar */
a.nav-link{
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
}

a.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 1.4em;
}

/* Section- Video */

.videobackground{
    position:relative;
    z-index:0;
    margin: 0;
}

.videotextoverlay{
    display: none;
}

#colorquote{
    color: rgb(253, 47, 47);
}

#foodcolor{
    color: orangered;
}

/* Section - text */

.randomtext{
    padding-top: 7.5%;
    text-align: center;
    font-size: 1.4em;
    padding-bottom: 5%;
    font-family: 'Tiro Bangla', serif;
    letter-spacing: 1.1;
}

#h2menu, #h2about, #h2contact{
    text-align: center;
    padding-bottom: 5%;
    font-family: 'Pacifico', cursive;
}

#h2about, #h2contact{
    padding-top: 5%;
}

.menuimg{
    height:400px;    
    padding-bottom: 10px;
}

.abouttext{
    font-size:1.2em;
}

.contacttext{
    font-size: 1.6em;
}

.abouttext, .contacttext, footer{
    font-family: 'Tiro Bangla', serif;
    letter-spacing: 1.1;
}

footer{
    text-align: center;
    font-size: 1.2em;
    padding: 15px 0;
}

/* Media Queries */

@media (min-width: 1025px) {

    .videotextoverlay{
        display: block;
        position:absolute;
        top: 33.3%;
        text-align: center;
        left:33.3%;
        right: 33.3%;
        z-index:1;
        color: beige;
        font-size: 2.3em;
        font-family: 'Tiro Devanagari Sanskrit', serif;
    }

    .randomtext{
        font-size: 1.8em;
    }
}